#!/usr/bin/make -f

export PYBUILD_NAME=hetzner-vrrp-failover
export PYBUILD_SYSTEM=distutils
export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/
	rm -rf *.egg-info/

override_dh_auto_build:
	python3.11 setup.py build

override_dh_auto_install:
	python3.11 setup.py install --root=$(CURDIR)/debian/hetzner-vrrp-failover --install-layout=deb

override_dh_auto_test:
	# Skip tests during package build
